<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

  <!--  true  → Gazebo   |   false → real hardware  -->
  <xacro:arg name="sim_mode" default="false"/>

  <!-- Links / visuals / collisions -->
  <xacro:include filename="robot_core.xacro"/>

  <!-- ros-control block (looks at $(arg sim_mode) internally) -->
  <xacro:include filename="ros2_control.xacro"/>

</robot>

